* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100%;
  /* overflow: hidden; */
  position: relative;
}

.container {
  width: 860px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  padding: 100px 0;
}

.img-container {
  width: 50%;
  /* padding: 0 10px; */
  /* position: absolute;
  top: 100px;
  left: 0; */
  /* position: relative; */
}

.img-wrap {
  width: 500px;
  height: 410px;
  display: inline-block;
  position: absolute;
  top: 100px;
  left: 0;
  opacity: 0;
}

.text-container {
  width: 50%;
  margin-left: 500px;
  position: absolute;
  top: 100px;
  right: 0;
  padding: 0 50px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  visibility: hidden;
}

.color-btn:checked + label,
.color-btn:not(:checked) + label {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  z-index: 10;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.25);
  background-position: center;
  background-size: cover;
  border: 3px solid transparent;
  /* background-color: gold; */
}

.color-1 {
  background-image: url(./img/color1.jpg);
}
.color-2 {
  background-image: url(./img/color2.jpg);
}
.color-3 {
  background-image: url(./img/color3.jpg);
}
.color-4 {
  background-image: url(./img/color4.jpg);
}
.color-5 {
  background-image: url(./img/color5.jpg);
}
.color-6 {
  background-image: url(./img/color6.jpg);
}

.color-btn:checked + label {
  border-color: #434343;
  transform: scale(1.1);
}

.for-color-1:checked ~ .img-wrap .chair-1 {
  opacity: 1;
}
.for-color-2:checked ~ .img-wrap .chair-2 {
  opacity: 1;
}
.for-color-3:checked ~ .img-wrap .chair-3 {
  opacity: 1;
}
.for-color-4:checked ~ .img-wrap .chair-4 {
  opacity: 1;
}
.for-color-5:checked ~ .img-wrap .chair-5 {
  opacity: 1;
}
.for-color-6:checked ~ .img-wrap .chair-6 {
  opacity: 1;
}
